# C
*/lang-c/*
!*/lang-c/*.c
!*/lang-c/*.h
!*/lang-c/README.md

# Elm
elm-stuff
node_modules
.elm-pages

# F#
.fake
.ionide
**/lang-fsharp/**/bin
**/lang-fsharp/**/obj

# Haskell
.stack-work/
*~

# Odin
day*.bin.dSYM
day*.bin
day*.exe
day*.pdb


# Mac
.DS_Store
